* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #424242;
}
body {
  /* padding-top: 65px; */
  color: #424242;
  min-width: 350px;
}

.mainzerodha {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  width: 100%;
  background-color: white;
  position: fixed;
  padding-left: 80px;
  padding-right: 10px;
  box-shadow: 2px 1px 2px #eee;
}

.zerodhachild img {
  max-height: 17px;
  
}

a {
  padding: 28px;
  text-decoration: none;
  color: grey;
}

.inner-main img {
  width: 100%;
  height: 250px;
}

.main {
  height: 74vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.para {
  text-align: center;
  padding-bottom: 100px;
  line-height: 1.5;
  font-size: x-large;
  color: #424242;
}

.para h1 {
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 1.25;
}

.para p {
  font-size: large;
}

button {
  text-decoration: none;
  padding: 15px;
  width: 20%;
  font-weight: 600;
  font-size: large;
  background-color: #3873d1;
  color: #FFFFFF;
  border: none;
  border-radius: 6px;
}
.forbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  /* border: 1px solid #bbb;*/
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  /* padding: 10px 30px;*/
}
.section2 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px;
}

.circulerimg img {
  height: 540px;
  width: 680;
  margin-top: 400px;
  padding-right: 100px;
}

.circulerimg a {
  color: blue;
  /* margin-right: 3px; */
}
.content {
  height: 75vh;
  width: 60%;
  line-height: 30px;
  margin: 15px;
}

.content h2 {
  font-size: 32px;
  font-weight: 545;
  color: rgb(49, 47, 47);
  margin-bottom: 40px;
  line-height: 1.5;
}

.content h3 {
  font-size: 20px;
  font-weight: 500;
  color: #424242;
}
.content p {
  font-size: 16px;
  font-weight: 250;
  color: #666666;
  margin-top: 10px;
}
h1,
h2 h3 {
  font-weight: 500;
}
.explore {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore i {
  font-size: 14px;
  color: #3873d1;
}

.horizontal-img {
  height: 80vh;
  width: 100%;
  padding: 350px;
  padding-left: 300px;
  padding-bottom: 12px;
}

.pricingdiv {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.image img {
  /* height: 90px; */
  width: 146px;
  padding-left: 20px;
}

.image {
  display: flex;
}
.image p {
  font-size: 11px;
  padding-top: 80px;
  /* color: rgb(49, 47, 47); */
  color: #666666;
}

.paragraph h2 {
  font-size: 32px;
  font-weight: 545;
  color: rgb(49, 47, 47);
  margin-bottom: 32px;  
}

.paragraph p {
  font-size: 16px;
  font-weight: 250;
  color: #424242;
  line-height: 1.5;
  margin-bottom: 40px;
}

.paragraph a {
  padding-right: 270px;
  color: #3873d1;
}

.paragraph i {
  font-size: 14px;
  color: #3873d1;
}

.lastcont{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
    gap: 130px;
    
}

.contpara h2{
    font-weight: 500;
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 26px;
}

.varsity a{
    padding: 0px;
  color: #3873d1;

    
}

.contpara p{
    
    margin-bottom: 26px;
    margin-top  : 26px;
}

.beforeftr{
   display: flex;
   justify-content: center;
   align-items: center;
    /* background-color: aqua; */
    height: 50vh;
   
    /* gap: 120px; */
}

.beforeftr h2, p{
    font-weight: 549;
    margin-bottom: 26px;
    margin-top  : 26px;
    /* gap: 20px; */
}

.beforeftr button{
    margin-bottom: 80px;
    width: 30%;
}

footer{
    
    box-shadow: 2px 1px 2px #eee;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: space-evenly;
    /* gap: 10px; */
    padding: 30px 0px 5px;
    background-color: #FBFBFB;
    /* flex-flow: row wrap; */
    margin-left: 30px;
    margin-bottom: 20px;
    padding-right: 200px;

}

footer h2{
  font-weight: 549;
  font-size: 1.125rem;
    /* font-weight: 500; */
    /* margin-bottom: 10px; */
}
footer p{
  color: #666;
  font-size: 16px;
  line-height: 0.4;
  font-weight: 500;

}
.zfooticon img{
  height: 20px;
  /* padding-left: 80px; */
}

.zfooticon p{
  font-size: 0.8rem;
}

.lastmain{
  display: flex;
  /* justify-content: space-; */
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
 
    /* line-height: 4; */
}

 .last{
  font-size: 0.75rem;
  color: #9b9b9b;
  font-weight: bolder;
}